<footer class="footer">
    <div class="container">
        <div class="footer__copyright">
            <h4 class="footer-title"> <a href="#"> HistoDev</a></h4>
            <p>© 2022, Built and designed by Hao Chen Liu</p>
        </div>
    </div>
</footer>