<nav class="navbar">
    <div class="container">
        <div class="navbar__logo">
           The HistoDev
        </div>
        <ul class="navbar__list">
            <li><a href="/src/index.html" class="navbar__list-link">Home</a></li>
            <li><a href="#blogs" class="navbar__list-link">Blog</a></li>
        </ul>
    </div>
</nav>