*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
