.section__hero {
  height: 50vh;
  background-color: $color-primary-light;

  .container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &-heading {
    font-size: 3rem;
    color: $color-primary-dark;
  }
}

.section__featuredArticle {
  padding: 2rem 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featuredArticle {
    &__featuredImg {
      width: 50%;
    }

    &__content {
      padding: 1rem 2rem;
      &-title {
        font-size: 3rem;
        margin-top: 0.5rem;
        color: $color-primary-dark;
      }

      &-time {
        font-size: 1.2rem;
      }

      &-excerpt {
        font-size: 1.8rem;
        margin: 0.5rem 0;
      }

      &-button {
        a {
          text-decoration: none;
        }
        font-size: 1.2rem;
        background-color: transparent;
        border: 2px solid $color-primary-dark;
        padding: 2px 6px;
        margin: 1rem 0;
        cursor: pointer;
      }
    }
  }
}

.section__articles {
  padding-top: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.IndiArticle {
  padding: 3rem;

  &__featuredImg {
    margin-top: 4rem;
    max-width: 100%;
  }

  &__title {
    font-size: 5rem;
    margin-top: 0.5rem;
    color: $color-primary-dark;
  }

  &__time {
    font-size: 1.6rem;
  }

  &__content {
    font-size: $default-font-size;
  }
}

.footer {
  padding: 1rem 0;

  background-color: $color-primary-light;
  color: $color-primary-dark;
}
