@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;600;700&family=Passion+One&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// font-family: 'Karma', serif;
// font-family: 'Source Sans Pro', sans-serif;

//color
$color-primary: #0077b6;
$color-primary-light: #caf0f8;
$color-primary-dark: #03045e;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7300;

$color-gray-light: #adb5bd;
$color-gray-dark: #6c757d;

//font-fam
$font-logo: "Passion One", sans-serif;
$font-heading: "Karma", serif;
$font-body: "Source Sans Pro", sans-serif;

//font-size
$default-font-size: 1.6rem;
